.search {
  all: unset;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(222, 222, 222);
}

.counter {
  display: flex;
  float: right;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #f5f5f5;
  margin: 20px 0;
  padding: 8px;
  border-radius: 15px;
  background-color: rgb(48, 122, 157);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  padding: 80px;
  width: 100%;
  background-color: #f5f5f5;
  box-sizing: border-box;
  justify-items: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 60px;
  }
}

@media (max-width: 840px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 60px;
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }
}
