.home-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  padding: 80px;
  width: 100%;
  background-color: #f5f5f5;
  box-sizing: border-box;
  justify-items: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

@media (max-width: 1200px) {
  .home-page {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    row-gap: 60px;
  }
}

@media (max-width: 840px) {
  .home-page {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 60px;
  }
}

@media (max-width: 480px) {
  .home-page {
    grid-template-columns: 1fr;
    row-gap: 60px;
  }
}
