.container {
  font-family: sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 0%;
}

.container p {
  font-style: italic;
  font-weight: normal;
  color: gray;
}
